<mat-card id="card" class="container-fluid">
    <img mat-card-image [src]="itemCard?.imageUrl" alt="card-image">
    <mat-card-header>
        <img mat-card-avatar *ngIf="itemCard?.types && itemCard?.types[0]" [ngClass]="itemCard.types[0].toLowerCase()">
        <img mat-card-avatar *ngIf="itemCard?.types && itemCard?.types[1]" [ngClass]="itemCard.types[1].toLowerCase()">
        <mat-card-subtitle class="float-left" id="card-id">{{itemCard.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <mat-card-title>{{itemCard.name}}</mat-card-title>
        </p>
    </mat-card-content>
</mat-card>
