<mat-card class="container-fluid">
    <img mat-card-image [src]="itemCard?.imageUrl" alt="itemCard.name">
    <mat-card-header>
        <img mat-card-avatar *ngIf="itemCard?.types && itemCard?.types[0]" [ngClass]="itemCard.types[0].toLowerCase()">
        <img mat-card-avatar *ngIf="itemCard?.types && itemCard?.types[1]" [ngClass]="itemCard.types[1].toLowerCase()">
        <mat-card-subtitle class="float-left" id="card-id">{{itemCard.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <mat-card-title>{{itemCard.name}}</mat-card-title>
        </p>
    </mat-card-content>
</mat-card>



<!-- <mat-card class="example-card">
    <img mat-card-image [src]="itemCard?.imageUrl" alt="itemCard.name">
    <mat-card-header>
        <div class="container-fluid">
            <div class="row">
                <mat-card-title class="col-xl-6 col-md-6 col-sm-6 col-xs-6">{{itemCard.name}}</mat-card-title>
                <div class="col-xl-2 col-md-3 col-sm-2 col-xs-2"  *ngFor="let type of itemCard.types">
                    <div mat-card-avatar [ngClass]="type.toLowerCase()"></div>
                </div>
            </div>
            <mat-card-subtitle>{{itemCard.id}}</mat-card-subtitle>
        </div>
    </mat-card-header>
</mat-card> -->