<div id="card">
    <mat-card id="detail" class="container">
        <mat-card-content >
            <div class="container" *ngIf="card">
                <div class="row">
                    <img id="card-full" class="col-sm-6 col-12" [src]="card?.imageUrlHiRes" alt="card-full">
                    <div class="col-sm-6  col-12 mt-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div id="title" class="col-12">{{card.name}}</div>
                                    <div id="sub-title" class="col-12">{{card.id}}</div>
                                </div>
                            </div>
                            <div class="col-1 offset-2" *ngFor="let type of card.types">
                                <div  class="types-avatar" [ngClass]="type.toLowerCase()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-4" *ngFor="let attack of card.attacks">
                                <div class="row">
                                    <div class="col-1 mr-1" *ngFor="let cost of attack.cost">
                                        <div *ngIf="cost" class="types-avatar" [ngClass]="cost.toLowerCase()">
                                        </div>
                                    </div>
                                    <div class="col text-card">
                                        {{attack.name}}
                                    </div>
                                    <div class="col-2 value-card">
                                        {{attack.damage}}
                                    </div>
                                    <div class="col-12 mt-3">
                                        {{attack.text}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4 offset-2">
                                <div class="mb-2">Weakness</div>
                                <div class="row" *ngFor="let weakness of card.weaknesses">
                                    <div class="col-2 mr-1">
                                        <div class="types-avatar" [ngClass]="weakness.type.toLowerCase()"></div>
                                    </div>
                                    <div class="col value-card">
                                        {{weakness.value}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 offset-2">
                                <div class="mb-2">Resistance</div>
                                <div class="row" *ngFor="let resistance of card.resistances">
                                    <div class="col-2">
                                        <div class="types-avatar" [ngClass]="resistance.type.toLowerCase()"></div>
                                    </div>
                                    <div class="col value-card">
                                        {{resistance.value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>