@import '~src/assets/styles/logo-energy.scss';

.types-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#card-full {
    width:100%;
    height: auto;
}

#title{
    font-size: x-large;
}

#sub-title{
    color: grey;
    font-size: medium;
}

#detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
}

.text-card {
    display: flex;
    align-items: center;
}

.value-card {
    display: flex;
    align-items: center;
    justify-content: end;
}