
.colorless {
    background-image: url('/./assets/images/colorless.png');
    background-size: cover;
  }

  
.darkness {
    background-image: url('/./assets/images/darkness.png');
    background-size: cover;
  }

  
.dragon {
    background-image: url('/./assets/images/dragon.png');
    background-size: cover;
  }

  
.fairy {
    background-image: url('/./assets/images/fairy.png');
    background-size: cover;
  }

  
.fighting {
    background-image: url('/./assets/images/fighting.png');
    background-size: cover;
  }

  
.fire {
    background-image: url('/./assets/images/fire.png');
    background-size: cover;
  }

  
.grass {
    background-image: url('/./assets/images/grass.png');
    background-size: cover;
  }

  
.lightning {
    background-image: url('/./assets/images/lightning.png');
    background-size: cover;
  }

  
.metal {
    background-image: url('/./assets/images/metal.png');
    background-size: cover;
  }

  
.psychic {
    background-image: url('/./assets/images/psychic.png');
    background-size: cover;
  }

  
.water {
    background-image: url('/./assets/images/water.png');
    background-size: cover;
  }
